
  body {
      background-color: rgb(253, 150, 66);
    }

    .card{

        /* texto */
        color: white;
        text-align: center;

        /* tarjeta */
        width: 20%;
        background-color: rgba(255, 222, 35, 0.692);
        border-radius: 5%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        display: inline-block;
        align-items: center;
        
    }